html {
    font-family: var(--font-poppins);
}

body {
    background-color: var(--surface-back-color);
    color: var(--text-primary-color);

    /* Not good for mobile layouts
    Issue desctiption and best practise on the link below
    https://www.npmjs.com/package/react-div-100vh */
    min-block-size: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: inherit;
}
