:root {
    /* Whell... 
    it would be nice to make something similar with sizes and gaps 
    But it consumes a lot of time */

    /* Branc color set */
    --brand-color: #00A757;

    /* Surfaces color set */
    --surface-back-color: #F5F6F7;
    --surface-lv1-color: #FFF;

    /* Borders color set */
    --border-lv1-color: #E4E4E4;

    /* Text color set */
    --text-primary-color: #1A1A1A;
    --text-secondary-color: #656565;
    --text-active-color: var(--brand-color);
}