.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: var(--surface-lv1-color);
    gap: 16px;
    min-block-size: 64px;
    padding-inline: 64px;
}

.avatar {
    margin-inline-start: auto;
}